
<div fxlayout="column"  fxLayout.gt-md="row" fxFlex.gt-md=50 fxLayoutAlign.gt-md="start center">
    <div fxlayout.gt-md="column">
      <h2> About </h2>
    <p>
        Klüger-Tech Inc. specializes in complex materials systems and processes to provide smarter solutions to existing and imminent problems in energy industries. It carries out activities with an application-oriented, experimental and system-based approach. 
    </p>
        
    <p>
      The company is 100% Canadian-owned and has a pool of highly skilled and innovative engineers, scientists, and technical experts from around the globe. It has access to state-of-the-art laboratories and advanced characterization equipment in key research centres located in North America, Europe and Asia.
    </p>
    </div>
    <div fxlayout.gt-md="column">
        <img src="../../assets/img/singphase.png">

    </div>
</div>