




<div class="row" >

    <div class="col-6">

        <h3>Consulting and R&D</h3>
        <p>High Temperature Functional Coating Systems and Advanced Powder Processing Including:</p>
        <ul>
            <li>Additive Manufacturing
              </li>
            <li>Composites</li>
            <li>Mechanical Alloying</li>
            <li>Multi-component thin films (Ceramics, Inter-metallics, Metallics and Polymers)
              </li>
            <li>Separation Membranes
              </li>
            <li>Solid Oxide Fuel Cells
              </li>
            <li>Thermal Barrier Coatings
              </li>
            <li>Thermal Spray Processes
              </li>
          </ul>
    </div>
    <div class="col-6">
        <h3>Analytical and Technical</h3>
      
       
        <ul>
            <li>Failure Analysis
              </li>
            <li>Lifetime Assessment
              </li>
            <li>Metallographic Sample Preparation
              </li>
            <li>Microstructural and Crystallographic Characterization (SEM, XRD, TEM)
              </li>
            <li>Particle Size Analysis
              </li>
          </ul>

    </div>
  </div>